@model GalleryViewModel

<section class="people">
  @if (Model.CurrentUserAlbum != null || Model.OtherPeopleAlbums.Count > 0) { 
    <span class="album-name-section">People</span>
  } 

  @if (Model.CurrentUserAlbum != null) { 
      var album = Model.CurrentUserAlbum;

      <a class="block-link album-name @(Model.IsSelected(album) ? "selected" : "")" data-id='@album.ID' href='@Url.Action("Gallery", new { album = album.ID })' title="@album.Name">
        <span class="image-count">@album.Items.Count</span>
        You: @album.Name
      </a>
   } 

  @{ var index = 0; }
  @foreach (var album in Model.OtherPeopleAlbums) { 
      index += 1;

      if (index == 6) { 
          <a class="block-link more">Show All</a>
          WriteLiteral("<div class='more'>");
      } 

      <a class="block-link album-name @(Model.IsSelected(album) ? "selected" : "")" data-id='@album.ID' href='@Url.Action("Gallery", new { album = album.ID })' title="@album.Name">
        <span class="image-count">@album.Items.Count</span>
        @album.Name
      </a>
  }

  @if (index >= 6) {
    WriteLiteral("</div>");
  } 
</section>

<section class="folders">
   @{Html.RenderPartial("_StandardNames");}
</section>